h1 {
    text-align: center;
    font: 1em sans-serif;
    font-size: 50pt;
    color: white;
    font-family: 'PT Sans', sans-serif;
}


.item1 {
    color: black;
    background-color: rgb(255, 220, 175);
    width: auto;
    padding: 15px;
}

.item2 {
color: white;
font-size: 35pt;
}

.item3 {
font-size: 15pt;
color: red;
}

.container {
    display: block;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 15pt;
    font-family: 'PT Sans', sans-serif;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media only screen and (max-width: 768px) 
{ /* For mobile phones: */
     [class*="col-"] 
     { width: 100%; }
}

html {
background-image: url("https://asset-p-motionelements.s3.amazonaws.com/4185/4185683.mp4?response-content-disposition=attachment%3B%20filename%3D%2211993636_MotionElements_moving-diagonal-stripes-hd.mp4%22&response-content-type=application%2Foctet-stream&AWSAccessKeyId=AKIAI5IG4LU4PYVLO2TQ&Expires=1552650827&Signature=Dq3bbR%2BV95Oj8Kxm%2Bi%2BXvl7CP3A%3D");
background-size: cover;
width: 100vw;
height: 100vh;
background-repeat: no-repeat;
}


  